
body{
   background-image: url("https://img.freepik.com/foto-gratis/disposicion-elementos-escritorio-sobre-fondo-amarillo_23-2148513310.jpg?w=2000");
   background-size: cover;
   font-family:Comic Sans MS, Comic Sans, cursive ;
  }
h1{
    color:darkblue;
    font-size: 50px;
    
}
h5{
   
    width:700px;
    height: 30px;
    text-align: left;
    
   
}
.container {
    margin-top: 80px;
    text-align: center; 
    width: 600px;
    height: 200px;
   
}

#gato{
    height: 35px;
    width:35px;
    }

button{
    background-color: white;
    border-color: coral;
   
    
}
input{
    margin-bottom: 50px;
}
#eliminar{
    margin-left:50px ;
     font-size:15px;
}
